html {
    font-size: 1.5rem;
  }
  
  body {
    background-color: black;
    color: aliceblue;
  }

a {
  color: aliceblue;
}

a:visited {
  color: lightgray;
}

a:hover, a:active {
  color: #eee;
}